.top-level {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    width: 100%;
}

.sign-up-page-container {
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* padding: 0 60px; */
}

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.splash-page-background-1 {
    background-image: url("https://combo.staticflickr.com/ap/build/images/sohp/2020-top-25/Untitled_Jorge_Guadalupe_Lizarraga.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
