.top-level {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

/* show entire image as background */
.sign-up-page-background-1 {
    background-image: url("/react-app/public/images/033120190455-by-Henry.26d9f56a.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    color: #212124;
    line-height: 1.3;
}

.sign-up-navbar-outer {
    background-color: #212124;
    font-size: 16px;
    height: 3rem;
    width: 100%;
    line-height: 1.3rem;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.sign-up-navbar-inner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.sign-up-navbar-link {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.sign-up-page-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 3rem);
    justify-content: center;
    flex-direction: column;
    /* overflow-y: auto; */
    /* padding: 2rem; */
    /* padding-bottom: 4rem; */
    margin: 0;
}

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 22rem;
    /* padding: 1.5rem; */
    /* margin: 0; */
    position: relative;
    border-radius: 0.25rem;
    color: #212124;
    line-height: 1.3;
}

.sign-up-form-header {
    display: flex;
}

.sign-up-form-header-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    /* padding: 1.5rem; */
    box-sizing: border-box;
}

.sign-up-form-first-name-container,
.sign-up-form-last-name-container,
.sign-up-form-email-container,
.sign-up-form-password-container,
.sign-up-form-confirm-password-container {
    display: flex;
    margin-bottom: 0.5rem;
}

.sign-up-form-first-name,
.sign-up-form-last-name,
.sign-up-form-email,
.sign-up-form-password,
.sign-up-form-confirm-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.sign-up-first-name-input,
.sign-up-last-name-input,
.sign-up-email-input,
.sign-up-password-input,
.sign-up-confirm-password-input {
    padding: 1.7rem 1rem 0.45rem 1rem;
    outline: none;
    box-shadow: none;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: text;
    color: #212124;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    width: 100%;
}

.sign-up-first-name-input:hover,
.sign-up-last-name-input:hover,
.sign-up-email-input:hover,
.sign-up-password-input:hover,
.sign-up-confirm-password-input:hover {
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sign-up-first-name-input:focus,
.sign-up-last-name-input:focus,
.sign-up-email-input:focus,
.sign-up-password-input:focus,
.sign-up-confirm-password-input:focus {
    outline: none;
    border:1px solid #128fdc;
}

.sign-up-form-button-outer-container {
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

.sign-up-form-button {
    background-color: #128fdc;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
}

.sign-up-form-button:hover {
    background-color: #0e71af;
    cursor: pointer;
}

.already-started-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    color: #212124;
    line-height: 1.3;
}

.sign-up-errors {
    color: red;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
}
