body {
    background-color: rgb(146, 204, 251);
}

.photo-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-page-photo {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.photo-page-info-and-photo-controls {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.photo-page-title,
.photo-page-author{
    /* font-size: 1.5em; */
    margin: 20px 0;
    padding: 0;
}

.photo-page-description {
    /* font-size: 1.2em; */
    margin: 20px 0;
    padding: 0;
}

.photo-page-controls {
    flex: 1 1 1 auto;
    height: auto;
    margin: auto;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo-page-controls-optional {
    flex: 1 1 1 auto;
    height: auto;
    margin: auto;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo-page-back-button,
.photo-page-edit-photo-button,
.photo-page-delete-photo-button,
.edit-comment-button,
.delete-comment-button {
    color: #000;
    background-color: #fff;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    min-width: 80px;
    margin: 0 10px 0 0;
}

.photo-page-back-button:hover,
.photo-page-edit-photo-button:hover,
.photo-page-delete-photo-button:hover,
.edit-comment-button:hover,
.delete-comment-button:hover {
    color: #fff;
    background-color: #000;
}

.photo-page-comment-title-and-input-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-page-comment-title-and-input-form {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.photo-page-comments-title-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.photo-page-comments-title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.photo-page-comment-input-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.photo-page-comment-input {
    min-width: 273px;
    max-width: 600px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.enter-comment-textarea {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;
    padding: 10px;
}

.enter-comment-textarea:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.enter-comment-textarea:focus {
    border:1px solid #128fdc;
}

.post-button-outer-container {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.post-button-inner-container {
    display:flex;
}

.post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 273px;
    background-color: #52ade9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
}

.post-button:hover {
    background-color: #128fdc;
}

.photo-page-comments-body-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

.photo-page-comment {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
}

.photo-page-comment-container {
    background-color: #52ade9;
    width: 100%;
    /* border-radius: 5px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}

.photo-page-comments-body {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.photo-page-comment-container:hover {
    background-color: #128fdc;
}

.photo-page-comment-user-and-body {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 0;
    margin: 0;
    padding: 10px 0px 0px 10px;
}

.photo-page-comment-user-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.photo-page-comment-user {
    display: flex;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.photo-page-comment-container{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.photo-page-comment {
    display: flex;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.date-info-and-comment-controls {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.date-info-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.photo-page-comment-controls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}
