.nav-outer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-actions-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-actions-right > .sign-up-button {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;

}
.user-actions-right > .login-button {
    text-decoration: none;
    color: white;
}

.nav-content-container > .home-button,
.nav-content-container > .photos-button,
.nav-content-container > .upload-button {
    text-decoration: none;
    color: white;
}

.nav-content-container > .logout-button {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
}
