.edit-form-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 550px;
    height: 300px;
    background-color: #fafafa;
    padding: 20px;
}

.edit-form-page-container > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2em;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-form-elements-title,
.edit-form-elements-description,
.edit-form-elements-url {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.edit-form-page-container-errors {
    color: black;
}

.edit-form-elements-title > label,
.edit-form-elements-description > label,
.edit-form-elements-url > label  {
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-right: 10px;
    width: 20%;
}

.edit-form-elements-title > input,
.edit-form-elements-description > input,
.edit-form-elements-url > input {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.edit-form-submit > button {
    width: 100%;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f5f5f5;
    color: #000;
}
